:root {
    --border-color: #EBECEC;
    --input-text-color: #8A8C8E;
    --remove-button-hover: #EBECEC;
    --remove-button-active: #f3f3f3;
    
}

.colors-section{
    color: #3C4043;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.text-color-collection{
    margin: 16px auto 0px 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}

.colors-list{
    overflow:hidden;
    overflow-y:scroll;
    list-style-type: none;
    
}


.color-item{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.color-box{
    width: 28px;
    height: 28px;
}
.color-name{
    margin-left: 10px;
    overflow: hidden;
}

.color-remove{
    width: 118px;
    height: 36px;
    /*
    padding: 7px 10.5px; */
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border-style: solid;;
    border-color: var(--border-color);
    border-width: 1px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    
}

.color-remove:hover{
    background-color: var(--remove-button-hover);
    cursor: pointer;
}

/* change background color of color-remove on click*/
.color-remove:active{
    background-color: var(--remove-button-active);
}




  /* chrome width */
  .scrlbr::-webkit-scrollbar {
    width: 15px;
    padding-left: 3px;
    background-color: white;
    
  }
  /* chrome Track */
  .scrlbr::-webkit-scrollbar-track { 
    border-left: solid 0.5px #e0e0e0;
    background: transparent;
}
   
  /* chrome Handle */
  .scrlbr::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888; 
    border: 3px solid transparent;
    background-clip: content-box;
  }
  
  /* firefox */
.scrlbr{
    scrollbar-color: #888 white;
    scrollbar-width: 10px;
    

}