:root {
    --border-color: #EBECEC;
    --input-text-color: #8A8C8E;
    --remove-button-hover: #EBECEC;
    --remove-button-active: #f3f3f3;
    
}

.colors-section{
    color: #3C4043;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.text-color-collection{
    margin: 16px auto 0px 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}

.colors-list{
    overflow:hidden;
    overflow-y:scroll;
    list-style-type: none;
    
}


.color-item{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.color-box{
    width: 28px;
    height: 28px;
}
.color-name{
    margin-left: 10px;
    overflow: hidden;
}

.color-remove{
    width: 118px;
    height: 36px;
    /*
    padding: 7px 10.5px; */
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border-style: solid;;
    border-color: var(--border-color);
    border-width: 1px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    
}

.color-remove:hover{
    background-color: var(--remove-button-hover);
    cursor: pointer;
}

/* change background color of color-remove on click*/
.color-remove:active{
    background-color: var(--remove-button-active);
}


.disable-scrollbars::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
  }
      
  .disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
  }